/* body {
   
    background-repeat: no-repeat;
} */

.animalButton {
    background-color: black;
    color: white;
    padding: .5em;
}


#gifs-appear-here {
    text-align: center;
    align-content: center;
}

p {
    font-size: 16px;
    font-weight: bold;
}

form {
    margin-top: 1em;
    font-size: 20px;
    font-weight: bold;
}